{#
# Page entry template
# -------------------
#
# This template gets loaded whenever a News entry’s URL is
# requested. That’s because the News section’s Template setting is
# set to “news/_entry”, the path to this template.
#
# When this template is loaded, it will already have an ‘entry’
# variable, set to the requested News entry.
#
# See this page for more details on how Craft routes requests:
# http://buildwithcraft.com/docs/routing
#}

{% extends "_layouts/site" %}

{% block content %}
<div class="container-xl dark-bg ">
    <div class="container resources ">
        <section class="dark-title">
            <div class="col-xs-16  col-sm-12 col-md-12">
                <h1 class=""><span class="report-category">Contact us</span> <span class="title-shrunk">Contact us</span></h1>

            </div>
            <div class="col-xs-16 col-sm-4 col-md-4 time-bg">

                <div class="hide time">

                    <span class="glyphicon glyphicon-time"></span>
                    <div class="time-heading">Reports</div>
                    <div class="estimate">READING TIME 15 mins</div></div>
            </div>
        </section>
    </div>
</div>
<div class="container site page">
    <section class="main">
        <div class="col-md-6 col-md-offset-1 main">

            <div class="contactInfo"><h2>Thank you</h2>
          <p>We have received your message. </p>
        </div>
        <div class="col-md-3 col-md-offset-1 sidebar">



        </div>
    </section>
</div>
{% endblock %}