/* Hero styles */
.hero {
  background: #3C3C3B url(../img/map.png) center center no-repeat;
  padding: 0px;
  width: auto;
  height: auto;
  margin-top: 0px;
  //height: 209px;
  background-size: 2500px 329px;
  background-position-x: 50px;
  background-position-y: top;
}

@media (min-width: 600px) {
  .hero {
    //margin-top: -140px;
    //height: 209px;
    //background-size: 1500px 209px;
    //background-position-x: 50px;
    //
    //
    ////new
    //margin-top: -90px;
    //height:auto;
    //background-position-y: 0px;
    //background-size: 2500px 309px;

    //new
    margin-top: 0;
    height: 437px;
    background-position-y: -2px;
    background-size: 3541px 457px;
    background-position-x: center;
  }
}

@media (min-width: 768px) {
  .hero {
    //margin-top: 0px;
    //height: 444px;
    //background-size: 3400px 330px;
    //background-position-x: 0px;
    //

    margin-top: 0px;
    height: 449px;
    background-size: 3400px 450px;
    background-position-x: -104px;
  }
}


@media (min-width: 992px) {
  .hero {
    height: 570px;
    background-size: 3000px 570px;
  }
  .home-top-col{
    //background: $gray-light;
  }
  .home-top-col .card-content{
    padding:0px 15px 10px;
  }
}


.hero h1 {
  font-weight: 400;
  font-style: normal;
  color: #FFF;
}
.hero .card-content{
  margin-bottom: 15px;
}

@media (min-width: 320px) {
  .hero h1 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .hero h1 {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  .hero h1 {
    font-size: 40px;
  }
}

@media (min-width: 1400px) {
  .hero h1 {
    font-size: 40px;
  }
}

@media (min-width: 320px) {
  .hero .home-over-title {
    margin-top: 15px;
  }
}

@media (min-width: 768px) {
  .hero .home-over-title {
    margin-top: 60px;
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) {
  .hero .home-over-title {
    margin-top: 100px;
    margin-bottom: 30px;
  }
}

@media (min-width: 320px) {
  .latest {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .latest {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .latest {
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .latest {
    font-size: 40px;
  }
}

@media (min-width: 320px) {
  .tweet {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .tweet {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .tweet {
    font-size: 20px;
  }
}

.tweet a {
  color: #e8c10c;
}

.hero section h4 {
  color: #F4D233;
  margin: 10px 0;
}

@media (min-width: 320px) {
  .hero section h4 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .hero section h4 {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .hero section h4 {
    font-size: 20px;
  }
}

@media (min-width: 1400px) {
  .hero section h4 {
    font-size: 40px;
  }
}

.hero section a {
  color: #FFFFFF;
  text-decoration: none;
}

.hero section a span.icon-chev-right:hover,
.hero section a:hover {
  color: #F4D233;
}

// twitter feed

.tweet-bg {
  background-color: #EAEAEA;
  margin-bottom: 0px;
  height: auto;
  padding: 26px 0 15px;
  min-height: 115px;
}

.tweet-holder {
  display: table;
  table-layout: fixed;
}

.tweet {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

//end

//video
header.video {
  background: $black;
}

#video {
  position: relative;
  //background: $black;
  max-width: 1140px;
  margin: 0px auto;
}

#video img,
#video iframe {
  display: block;
}

#video img {
  overflow: hidden;
  margin: 0 auto;
}

#play {

  /* background-image: url(../images/sprite.svg); */
  position: absolute;
  width: 125px;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  /* background-size: 320px 470px, cover; */
  z-index: 9999;
  background-position: -62px -342px;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#play:hover {
  //background-color: rgba(0,0,0,0.2) !important;
  background-position: -187px -343px;
}

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 641.25px;
}

//home page
.overwrap {
  position: relative;
}
