/* nav styles */


/* ani burger */
.navbar-toggle {
  margin: 18px 15px 0 0;
  background-color: transparent;
  border: none;
  width: 35px;
  height: 40px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer; }

.navbar-toggle > span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #3C3C3B;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: .25s ease-in-out; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: transparent; }

/* ani burger */
.navbar-toggle span:nth-child(1) {
  top: 0px; }

.navbar-toggle span:nth-child(2), .navbar-toggle span:nth-child(3) {
  top: 10px; }

.navbar-toggle span:nth-child(4) {
  top: 20px; }

.navbar-toggle.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%; }

.navbar-toggle.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.navbar-toggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.navbar-toggle.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%; }
/* end ani burger */
.wrap-collapse {

  @include breakpoint(xxxs) {
    padding: 0;
    margin-top: 2px;
    background: #3C3C3B;
    opacity: 0.95;
  }
  @include breakpoint(sm) {
    background: transparent;
  }
}

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: 0px;
  }
}
.navb{
  @include breakpoint(sm) {
    margin-top:25px;
  }

  @include breakpoint(md) {
    margin-top:16px;
  }
  @include breakpoint(lg) {
    margin-top:16px;
  }
}

.navbar-default .navbar-nav>li{
  margin-left: 25px;
  //height:40px;
}
.navbar-default {
    background-color: $yellow;
    padding-left: 0;
	padding-right: 0;
	border: none;
    margin-bottom: 0;

  @include breakpoint(xxxs) {
    height:60px;
  }

  @include breakpoint(sm) {
    height:150px;
  }

}

.navbar-default,.navb, .nav{
  // Animation

  transition: all 0.9s ease;
  z-index:99;
}
.shrink .sprite.logo,
.sprite.logo{
  transition: all 0.9s ;
  transition-timing-function: ease-in-out;
}


.dark-bg{
  // Animation
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
  z-index:10;
}
//shrink settings

//logo shrink remed no shringk
.shrink .sprite.logo {
  //width: 216px;
  //height: 76px;
  //background-size: 345px 170px;
  //margin-top: 13px;
}


//sidebar shrink
.inpage{
  //top:initial;
  //min-width:100%;
}


//set reduced header height
.navbar-default.shrink {
  @include breakpoint(sm) {
    height:110px;
  }
}

.navbar-default.shrink .nav.navbar-nav{
  //position: absolute;
  margin-top: 2px;
  top: 20px;
}

.dark-bg.shrink{
  position: fixed;
  top:80px;
  width:100%;
  z-index: 1;
  height:60px;
}
.dark-bg.shrink h1{
  margin-top:20px;
  font-size:20px;
}

li.shrink{
  display:none
}

 .shrink .topnav, .shrink .search{
  //display:none;
}
.navb.shrink li.shrink{
  margin: 0;
  display:inline-block;
}
.navb.shrink li.shrink:last-child{
  margin-right:15px;
}

.navb.shrink form.search{
  display: inline-block;
  margin-top:0;
}

.navb.shrink form.search.navbar-form .input-group>.form-control{
  min-width: 50px;
}


.navbar.navbar-default.shrink  .navbar-collapse{
  margin-top:33px;
}
// end shrink

// top menu right
@media (max-width: 767px) {

  .navbar.navbar-default.shrink  .navbar-collapse{
    margin-top:0;
  }
  .top-right.pull-right{
    display:none;
  }
}
@media (min-width: 768px) {
  .top-right.pull-right{
    display:block;
  }
}
// end top menu right

.navbar-default .navbar-collapse{

  max-height: 100%;
  @include breakpoint(sm) {
    margin-top: 73px;
  }
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{

  @include breakpoint(sm) {
   background: transparent;
  }

}

//nav style

.navbar-default .navbar-nav>li{


  @include breakpoint(sm) {
    background: transparent;
    margin: 0 3px;
  }
  @include breakpoint(md) {
    background: transparent;
    margin: 0 10px;
  }
  @include breakpoint(lg) {
    margin: 0 30px;
  }
}


.navbar-default .navbar-nav>li:last-child{
  margin-right: 0px;
}

//base menu colors
.navbar-default .navbar-nav li a{
  padding: 10px;
  min-width: 100px;
  font-weight: bold;
  color: $black;
  font-size: $font-size-nav;
  text-align: center;

  @include breakpoint(xxxs) {
    color:$white;
    text-align: left;
  }

  @include breakpoint(sm) {
    font-size: 16px; color: $black;
    text-align: center;
  }
  @include breakpoint(md) {
    font-size: $font-size-nav;
  }
}

.navbar-default .navbar-nav li{
  @include breakpoint(sm) {

  }
}

//active colors
.navbar-default .navbar-nav li a.active{
  background-color: $black;
  background-color: #353535;
  color: $white;
}

//hovers.navbar-default .navbar-nav li a:hover
.navbar-default .navbar-nav li a:hover
{
  color: $white;
  background: $black;

}

//topnav
ul.topnav{
  text-align: center;
  margin:0px 0 0 0;
  line-height: 11px;
}
ul.topnav li{
  border-right: 1px solid $black;
  padding:0 10px ;
  height:18px;
}
ul.topnav li:last-child{
  border:none;
  padding-right:0;
}
ul.topnav li a{
  color: $black;
  font-size: $font-size-small;
}
ul.topnav li.jobs{
  border-right:0px;
  padding-right: 0;
}

form.search{
  //margin-top: 50px;
  padding:0;
}
form.search input,
form.search button{
  border-color: $gray-line;
}


.navbar-form .input-group>.form-control{
  @include breakpoint(sm) {
    min-width: 150px;
    height:34px;

  }

  @include breakpoint(md) {
    min-width: 200px;

  }

}


//dropdowns

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7; }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent; }
  .navbar-default .navbar-nav li.dropdown.open > .dropdown-menu{
    margin-top:10px;
  }
}
.navbar-default .navbar-nav li.dropdown.open > .dropdown-menu {
  display: block; }

.navbar-nav > li > .dropdown-menu {
  right: inherit;
  left: 0;
  width: auto;
  background: $black;
  border: none;
  right: auto;
  text-align: center;
  display: none;
  border-color: #D8D8D8;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  opacity: 0.9;
  //margin-top: 4px;
  margin-left: 0px;
  width: 250px;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus{
  height:40px;
  background: $black;
  color:$white;

}

.navbar-default .navbar-nav li.dropdown a.active,
.navbar-default .navbar-nav li.dropdown.open a.active{

}

.navbar-default .navbar-nav li.dropdown a.active:hover{
  height:40px;
  background: $black;
  color:$white;
}
.navbar-nav > li > .dropdown-menu li a {
  //text-align: left;
  //color: #FFFFFF;
  //font-size: 16px;
  //font-weight: normal;
  white-space: pre-wrap;
}

//.navbar-nav>li>.dropdown-menu{
//  right:inherit;
//  left:0;
//  width:auto;
//  background: $black;
//  border-top:none;
//  left: 50%;
//  right: auto;
//  text-align: center;
//  transform: translate(-50%, 0);
//}
.dropdown-menu:before {
  //position: absolute;
  //top: -7px;
  //left: 40%;
  //display: inline-block;
  //border-right: 7px solid transparent;
  //border-bottom: 7px solid #ccc;
  //border-left: 7px solid transparent;
  //border-bottom-color: rgba(0, 0, 0, 0.2);
  //content: '';
}

.dropdown-menu:after {
  //position: absolute;
  //top: -6px;
  //left: 40%;
  //display: inline-block;
  //border-right: 6px solid transparent;
  //border-bottom: 6px solid #ffffff;
  //border-left: 6px solid transparent;
  //content: '';
}
.navbar-nav>li>.dropdown-menu li a{
  text-align: left;
  color: $white;
  font-size:16px;
  font-weight: normal;
}
.navbar-nav>li>.dropdown-menu li a:hover{
  text-align: left;
  color: $yellow;
}
//sub nav
.navbar-nav>li>.dropdown-menu li li a.child.active.level2{
  color: $yellow;
}

//side nav

.side-col.vbottom {
  position: absolute;
  bottom: 0;
  right: inherit;
  transition: bottom  1s ease; }
@media (min-width: 768px) {
  .side-col.vbottom {
    margin-left: 64.5%; } }
@media (min-width: 992px) {
  .side-col.vbottom {
    margin-left: 73.5%; } }
@media (min-width: 1200px) {
  .side-col.vbottom {
    margin-left: 66%; } }
@media (min-width: 1400px) {
  .side-col.vbottom {
    margin-left: 62.5%; } }
@media (min-width: 800px) {
  .side-col.vbottom {
    margin-left: 61.5%; } }
@media (min-width: 900px) {
  .side-col.vbottom {
    margin-left: 56.5%; } }
@media (min-width: 1000px) {
  .side-col.vbottom {
    margin-left: 65.5%; } }
@media (min-width: 1100px) {
  .side-col.vbottom {
    margin-left: 61%; } }
@media (min-width: 1200px) {
  .side-col.vbottom {
    margin-left: 69.5%; } }
@media (min-width: 1300px) {
  .side-col.vbottom {
    margin-left: 62.5%; } }
@media (min-width: 1500px) {
  .side-col.vbottom {
    margin-left: 62.5%; } }
@media (min-width: 1600px) {
  .side-col.vbottom {
    margin-left: 62.5%; } }
@media (min-width: 1800px) {
  .side-col.vbottom {
    margin-left: 62.5%; } }

.sidemenu.nudge-left {
  position: relative; }

.side-col {
  transition: top 1s ease; }
@media (min-width: 768px) {
  .side-col {
    margin-left: 4%; } }
@media (min-width: 992px) {
  .side-col {
    margin-left: 8%; } }

aside {
  width: 100%;

  position: relative;
  @include breakpoint(sm) {
    //height: 1000px;
  }
}
@media (min-width: 768px) {
  aside {
    min-width: 260px; } }
@media (min-width: 992px) {
  aside {
    min-width: 288px; } }

aside .nav > li > a {
  padding: 11px 15px;
  color: #555555;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  margin-left: 0px;
  line-height: 25px;
  text-decoration: none; }
@media (min-width: 768px) {
  aside .nav > li > a {
    font-size: 16px; } }
@media (min-width: 992px) {
  aside .nav > li > a {
    font-size: 20px; } }

aside .nav > li > a:hover, aside .nav > li > a:focus {
  background: transparent; }


.sidemenu {
  position: fixed;
  top: 300px;
  max-width: 288px;
  transition: top 1s ease;
  z-index: 1;
  width: 100%; }
.shrink .sidemenu.shrink {
  top: 200px;
}

@media (min-width: 768px) {
  .sidemenu.showfeatured {
    padding-top: 75px; } }

@media (min-width: 768px) {
  .showfeatured.shrink {
    padding-top: 100px; } }

.pside-inner {
  position: relative; }

.psidemenu.shrink {
  //top: 150px;
}

.psidemenu {
  max-width: inherit;
  @media (min-width: 990px) {
    //position: fixed;
    //top: 290px;
    max-width: 288px;
    transition: top 1s ease;
    z-index: 1;
  }
  }

@media (min-width: 768px) {
  .psidemenu.showfeatured {
    padding-top: 110px; } }

.shrink .psidemenu {
  @media (min-width: 768px) {
    //top: 185px;
  }
}

aside h3, aside h4 {
  margin: 5px 0; }

aside.sidemenu h4 {
  margin: 0 0 20px 0px;
  font-size: 20px;
  padding: 10px 10px 10px 0px;
  border-bottom: 1px solid #F4D233; }
@media (min-width: 768px) {
  aside.sidemenu h4 {
    font-size: 16px; } }

aside .side-section-subnav .subnav-header h4 {
  margin: 0 0 0 0px;
  font-size: 20px;
  padding: 10px 10px 10px 0px;
  border-top: 1px solid #F4D233;
  border-bottom: 1px solid #F4D233; }
@media (min-width: 768px) {
  aside .side-section-subnav .subnav-header h4 {
    font-size: 16px; } }
@media (min-width: 992px) {
  aside .side-section-subnav .subnav-header h4 {
    font-size: 20px; } }

aside ul {
  margin-top: 0;
  list-style: none;
  margin-left: 0px;
  padding-left: 0; }

aside .nav > li {
  font-size: 20px; }

aside .nav > li > a {
  padding: 7px 10px 7px 15px;
  margin: 1px 0 2px -15px; }

aside .nav > li > a.sprite {
  background-image: none; }

aside .nav li.first a {
  color: #000;
  padding: 7px 10px 7px 10px;
  border-left: 5px solid gold; }

aside .nav > li > a:hover {
  color: #000;
  padding: 7px 10px 7px 10px;
  border-left: 5px solid gold; }

aside .nav > li.active > a {
  color: #000;
  padding: 7px 10px 7px 10px;
  border-left: 5px solid gold; }

aside .nav > li.active > span.sprite.spy {
  width: 28px;
  height: 30px;
  background-position: -289px -60px;
  background-size: 386px 278px;
  position: absolute;
  display: inline-flex; }

li.sideblockheading {
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0 0 15px;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  width: 82%;
  color: #555555; }

.sidemenu > li.dropdown .children {
  display: none; }

.sidemenu > li.dropdown.active .children {
  display: block;
  margin-bottom: 30px;
  margin-top: 10px; }

.sidemenu > li.dropdown.active li.child a {
  color: #555555;
  font-size: 16px;
  font-weight: 500; }

.sidemenu > li.dropdown.active li.child.active {
  color: #F4D233; }

.sidemenu > li.dropdown.active li.child a.active {
  color: #000000; }

li.sideblockheading.second {
  margin: 0px 0 20px 0px;
  color: #555;
  border: none;
  padding-left: 15px; }

li.sideblockheading.second span {
  margin-left: -15px; }

.icon-structure {
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: 605px 245px;
  background-repeat: no-repeat;
  margin: 0 0 0 -40px;
  background-position: -511px 77px;
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: 605px 245px;
  background-repeat: no-repeat;
  margin: 0 0 0 -68px;
  background-position: -486px -78px; }

.glyphicon-file {
  margin: 10px 0 0 -40px;
  position: absolute;
  top: inherit;
  color: #888888; }
@media (min-width: 768px) {
  .glyphicon-file {
    display: none; } }
@media (min-width: 992px) {
  .glyphicon-file {
    display: block; } }

.glyphicon-folder-open {
  margin: 10px 0 0 -40px;
  position: absolute;
  top: inherit;
  color: #888888; }
@media (min-width: 768px) {
  .glyphicon-folder-open {
    display: none; } }
@media (min-width: 992px) {
  .glyphicon-folder-open {
    display: block; } }

.side-section-subnav {
  margin: 50px 0; }

.side-section-subnav ul {
  margin-left: 0px; }

.side-section-subnav ul.nav {
  list-style: none;
  margin-left: 0px;
  padding-left: 0;
  border-top: 1px solid #ccc;
  padding-top: 40px; }

.side-section-subnav > ul > li {
  margin-left: 0px;
  padding: 3px 0; }

.side-section-subnav > ul > li > a > span.label {
  font-size: 100%; }

.side-section-subnav > ul > li > a > span.label-default {
  background: #555555;
  color: #FFFFFF; }

.side-section-subnav > ul > li > a {
  padding: 5px 0px;
  font-size: 20px;
  color: #555555;
  text-decoration: none; }
@media (min-width: 768px) {
  .side-section-subnav > ul > li > a {
    font-size: 16px; } }
@media (min-width: 992px) {
  .side-section-subnav > ul > li > a {
    font-size: 20px; } }

.side-section-subnav > ul > li.active > a {
  color: #F4D233; }

.side-section-subnav > ul > li > a:hover {
  color: #F4D233; }

.sidemenu.nudgeup {
  transition: all 0.6s ease;
  position: absolute; }


////moble nabvar toggle
//.navbar-toggle span:nth-child(1) {
//  top: 0px;
//}
//.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
//  background: transparent;
//}
//.navbar-toggle  {
//  margin: 7px 30px 0 0;
//  background: transparent;
//  border: none;
//  width: 35px;
//  height: 40px;
//  //padding:9px 10px;
//  position: relative;
//  float: right;
//  transform: rotate(0deg);
//  transition: .5s ease-in-out;
//  cursor: pointer;
//  right:0;
//  left:initial;
//}
//.navbar-toggle > span {
//  display: block;
//  height: 4px;
//  width: 45px;
//  background: #3C3C3B;
//  border-radius: 9px;
//  opacity: 1;
//  left: 0;
//  margin-bottom: 8px;
//  transform: rotate(0deg);
//  transition: .25s ease-in-out;
//}
//
section.blogentry .shrink .psidemenu,
section.blogentry .sidemenu{
  position: relative!important;
  top:inherit!important;
}