//colours
$pink: #e36d81;
$black:  #3C3C3B;
$black-strong: #000000;

$gray-light: #f2f2f2;
$gray-ex-light: #D8D8D8;
$gray-mid: #747474;
$gray-dark: #555555;
$yellow: #F4D233;
$red-dark:#AF2127;
$red: #D7221A;
$white: #FFFFFF;
$gray-line: #979797;

//body
$body-bg-color: #ffffff;


//fonts
$headings-font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-navigation: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family-alt: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;

$headings-color:$black;
//weights
$font-weight-light:300;
$font-weight-medium:500;
$font-weight-bold:700;
//size
$font-size-small:14px;
$font-size-small-medium: 16px;
$font-size-medium: 20px;
$font-size-large:30px;
$font-size-xlarge:42px;

$font-size-nav: 18px;
//misc
$tooltip-arrow-color:$yellow!important;


