// Core CSS
@import 'partials/variables';
@import 'partials/utils';
@import 'partials/icons';
@import 'partials/hero';
@import 'partials/home';
@import 'partials/nav';
@import 'partials/page';
@import 'partials/type';
@import 'partials/footer';
