

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ craft.locale }}">
    <head>

        {% block head %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="google" value="notranslate">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% set siteUrl = craft.config.environmentVariables.siteUrl %}
        {% set baseUrl = craft.config.environmentVariables.baseUrl %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ baseUrl }}assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="{{ baseUrl }}assets/favicon/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ baseUrl }}assets/favicon/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="{{ baseUrl }}assets/favicon/manifest.json">
        <link rel="mask-icon" href="{{ baseUrl }}assets/favicon/safari-pinned-tab.svg" color="#f4d233">
        <link rel="shortcut icon" href="{{ baseUrl }}assets/favicon/favicon.ico">
        <meta name="msapplication-config" content="{{ baseUrl }}assets/favicon/browserconfig.xml">
        <meta name="theme-color" content="#f4d233">
        {# SEO META #}
        {% hook 'seomaticRender' %}
        <!-- For third-generation iPad with high-resolution Retina display: -->
        <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,700 |Open+Sans:400italic,700italic,200,300,400,700|Lato:700,600,400,300,100' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/main.css">

        {% endblock %}

        {% import "_macros" as macros %}

        {% if not craft.request.isLivePreview %}
        <script type="text/javascript">
            // Google Analytics tracking code
        </script>
        {% endif %}

        {% set featured = '' %}
        {% if entry is defined %}
        {% set featured = entry.featured ? '1' : '0' %}
        {% endif %}

        {% set isMobile = craft.detect.isMobile ? '1' : '0' %}
    </head>




    <body id="page-top"  {% if bodyClass is defined %}class="{{bodyClass}}"{% endif %} data-spy="scroll" data-target="#nav" data-offset="280">
    <div class="mainwrapper">
    {% include '_includes/header.html' %}
    {% block body %}

    {% endblock %}
    {% block foot %}
    {% include '_includes/footer.html' %}
    {% include '_includes/footer-js.html' %}
    {% endblock %}
    </div>
    </body>
    </html>