<div class="texticon search icon clearable">
    <form method="get" action="/{{ craft.config.get('cpTrigger') }}/unsplash/search">
        <input class="text fullwidth" type="text" autocomplete="off" placeholder="Search" name="q" {% if craft.request.getParam('q') %}value="{{ craft.request.getParam('q') }}"{% endif %}>
        <input type="hidden" name="page" value="1">
        <div class="clear hidden" title="Clear"></div>
    </form>
</div>