
<div class="row">
    <div class="col-xs-16 ">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-inline text-center">

                    {#<div class="col-xs-8">#}
                    <div class="form-group">
                        <label>Search resources</label>
                        <input class="form-control search-input" name="q"  >
                    </div>


                    {#</div>#}
                    {#<div class="col-xs-8">#}
                    <button class="btn btn-default"type="submit">Search</button>
                    {#</div>#}

                </form>
            </div>
        </div>

    </div>
</div>